.options-box {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 3rem;
  max-width: fit-content;
}

.options-item {
  font-family: 'Roboto Mono', monospace;
  color: #000000;
  text-decoration: none;
}

.options-bar {
  color: #1a6489;
  font-size: 24px;
  padding: 3px;
  margin-bottom: 0;
}

/* box component */
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 8rem;
}

.box-component {
  margin-top: 4rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem 4rem;
}

.search-bar {
  width: 100px;
  padding: 2rem;
}

@media only screen and (max-width: 1240px) {
  .box-component {
    padding: 1rem 1rem;
    max-width: 850px;
  }
}

@media only screen and (max-width: 768px) {
  .options-box {
    padding: 1rem;
    max-width: 45vh;
  }

  .box-component {
    max-width: 45vh;
  }

  .bus-icon {
    font-size: 16px;
    margin-right: 5px !important;
  }

  .stop-name {
    font-size: 12px;
  }
}
